/* this is to apply some desired styling to default Meliorator classes */
.widget {
    display: inline-block;
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 3px;
    background-color: whitesmoke;
}

.widget label select {
    margin-left: 3px;
}

.widget-button {
    padding: 6px;
    background-color: #5be5f1;
    color: black;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}
.export-button, .save-dashboard-button {
    padding: 6px;
    background-color: #5bf1aa;
    color: black;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.add-button {
    padding: 6px;
    background-color: #f1d85b;
    color: black;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.delete-saved-dashboard-button, .add-to-dashboard-button, .refresh-saved-dashboard-button {
	padding: 6px;
    background-color: black;
    color: white;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.show-dashboard-button {
    padding: 6px;
    background-color: #f15bec;
    color: white;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.remove-panel-btn {
 	padding: 6px;
    background-color: #f15b5b;
    color: black;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.refresh-dashboard-button {
	padding: 6px;
    background-color: #5be5f1;
    color: black;
    border: 2px solid #bfbfbb;
    border-radius: 6px;
    font-weight: bold;
    cursor: hand;
}

.remove-panel-btn:hover {
    color: yellow;
}

.widget-button:active, .widget-button:hover {
    background-color: yellow;
}

.chart {
    display: block;
}

.chart-canvas {
    width: 100%;
    height: 500px;
}

.chart.widget.table {
    max-height: 580px;
    height: auto;
    overflow: auto;
    padding-bottom: 6px;
}

.chart.table table {
    display: block;
    width: auto;
}

.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-9px, 0) rotate(-60deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;
}

.chart td,th {
    border: 1px #ccc solid !important;
    padding: 4px;
}

.pie-chart .legend table {
    overflow: auto;
    max-height: 400px;
    height: auto;
    display: block;
    width: 200px;
        padding-bottom: 6px;
}

.chart.widget:not(.dashboard-widget) {
    padding-bottom: 100px;
}

.dashboard-controller {
	height: 50px;
}

@media screen and (min-width: 800px) {
	.dashboard-widget {
    width: 45%;
}
}

@media screen and (max-width: 799px) {
	.dashboard-widget {
    width: 90%;
}
}


.chart.table.widget {
    padding-bottom: 6px;
}

.chart.widget.pie-chart {
    max-height: 580px;
    height: auto;
    overflow: auto;
    padding-bottom: 6px;
}

.chart.widget.json {
    max-height: 580px;
    height: auto;
    overflow: auto;
    padding-bottom: 6px;
}

.flotTip {
    font-size: 1em !important;
}

/* Prism.css : for the json vis -- we should be able to strip out what's required, later */
/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}





